<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Xchange</title>

  <!-- Materialize compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Local CSS styling -->
  <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css">
</head>

<body>
  <div class="navbar-fixed">
    <nav class="teal darken-4">
      <div class="nav-wrapper">
        <div class="switch">
          <label class="white-text">
            Metric
            <input type="checkbox" checked>
            <span class="lever"></span>
            Imperial
          </label>
          <a href="#" class="brand-logo center white-text">Recipe Xchange</a>
          <a href="/login" class="right"><i class="material-icons right">login</i>Sign In</a>
        </div>
      </div>
    </nav>
  </div>

  <main class="background">
    <div class="container main-container">
      <h1>Testing</h1>
      {{{ body }}}
    </div>
  </main>

  <footer class="page-footer teal darken-4">
    <div class="footer-copyright white-text">
      © 2020 Copyright JAK
      <a class="grey-text right" href="https://www.freepik.com/free-photos-vectors/background">
        Background photo created by mrsiraphol - www.freepik.com</a>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Compiled and minified JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Local javascript -->
  <script src="/public/assets/js/script.js"></script>
</body>

</html>